@page "/AolcUser"
@using AOLC_WebApplication.Data
@inject AolcUserService AolcUserService

<NavLink class="nav-link" href="UsersCreate">
    <span class="oi oi-plus" aria-hidden="true">Add New</span>

</NavLink>

<h1>System Users Info</h1>
@if (UserObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Company</th>
                <th>Designation</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>City</th>
                <th>Province</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UserObj)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.CompanyName</td>
                    <td>@user.Designation</td>
                    <td>@user.Address1</td>
                    <td>@user.Address2</td>
                    <td>@user.City</td>
                    <td>@user.Province</td>
                    <td>
                        <a class="nav-link" href="EditUser/@user.Id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="Delete/@user.Id">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<AolcUser> UserObj;
    protected override async Task OnInitializedAsync()
    {
        UserObj = await Task.Run(() => AolcUserService.GetAllUsersAsync());
    }
}